.big-content{
   min-height: 900px;
   width: 100%;
}

.big-content .grid{
 margin-top: 2vw;
 margin-left: 3vw;
}

.big-content .grid .grid-item{
   display: inline-block;
   min-height: 300px;
   background-color: white;
   width: 48%;
   margin-right: 0.6vw;
}

.big-content .grid .grid-item h4{
  display: inline-block;
  margin-left: 1vw;
  font-size: 18px;
  font-weight: 700;

}

.big-content .grid .grid-item .dropdown{
   position: relative;
  float: right;
  right: 1.4vw;
  top:0.8vw;
}


.big-content .grid .grid-item .body{
 
  width: 100%;
 }
 
 
 .big-content .grid .grid-item .body table{
   width: 95%;
   margin-left: 2.5%;
   border-top: 1px solid black;
  }

  .big-content .grid .grid-item .body table .text-right{
width: 20%;
  }

  .big-content .designer-tab{
   margin-top: 2vw;
 
     }


.big-content .designer-tab .nav-tabs{
   min-height: 200px;
}
.big-content .designer-tab .nav-tabs li{
   display: inline-block;
  }


.big-content .designer-tab .tab-header a{
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   display: inline-block;
   height: 60px;
   border-top: 1px transparent #dee2e6 ;
   border-left: 1px transparent #dee2e6 ;
   border-right: 1px transparent #dee2e6 ;
}


.big-content .designer-tab .tab-header a:focus{
 
   border-top: 1px solid #dee2e6 ;
   border-left: 1px solid #dee2e6 ;
   border-right: 1px solid #dee2e6;
   background-color: #FFFFFF;
  
 }
.big-content .designer-tab .tab-body li{
   list-style: none;
}



.designer-tab .designer-tab .tab-content{
   margin-top: 12px;
}





@media screen and (max-width:900px){
   .big-content .grid .grid-item h4{
      font-size: 16px;
      font-weight: 700;
    }
}


@media screen and (max-width:769px){
   .big-content .grid .grid-item h4{
      font-size: 16px;
      font-weight: 700;
    }

    .big-content .designer-tab .nav-tabs{
     padding-left: 0;
   }


   .big-content .designer-tab .nav-tabs .nav-header-cont{
      padding-left: 0;
    float: left;
    }
   
   
   .big-content .designer-tab .nav-tabs li{
     display: inline-block;
    }
    
}



@media screen and (max-width:700px){
   .big-content .grid .grid-item{
      width: 96%;
      margin-bottom: 2vw;
    }
}


@media screen and (max-width:393px){
   .big-content .designer-tab .nav-tabs li{
      position: relative;
      display: inline-block;
      width: 30%;
      text-align: left;
     }

     .big-content .designer-tab .nav-tabs {
     padding: 0px;
     }

     
   
}










.small{
height: 70px;
background-color: #1D3C60;
}

.smaller{
   height: 100px;
   background-color: #1D3C60;
   }
   

   








.create{
    margin-top: 3vw;
    margin-left: 2vw;
    min-height: 880px;
 }
 
 .create .form-group {
    display: block;
    width: 100%;
 }
 
 .create .form-group label{
    display: inline-block;
    width: 10%;
 }
 
 
 
 .create .form-group input{
    display: inline-block;
    width: 80%;
    background-color: antiquewhite;
 }
 
 .create .form-group textarea{
    display: inline-block;
    width: 80%;
    background-color: antiquewhite;
    margin-left: 9vw;
    border-radius: 30px;
 }
 
 .create .form-group .descr{
    position: absolute;
    margin-top: 26px;
    
    display: inline;
 }
 
 .create .text-center {
   width: 100%;
   float: center;
 }
 
 .tbl-cont-outer {
   min-height: 900px;

} 








 .tabl-cont{
    width: 98%;
    background-color: rgb(253, 250, 243);
    margin-left: 0.9vw;
    margin-top: 2vw;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
 }


 
 .tabl-cont .resp{
   max-width: 90%;
   background-color: rgb(253, 250, 243);
   margin-left: 4vw;
   border-radius: 0.1875rem;
   overflow: hidden;
   padding-bottom: 120px;
   border: 0;
   
} 


.tabl-cont .resp .btnadd{
   display: block;
   margin-bottom: 60px;

} 

.tabl-cont .resp .btnadd a{
  right:6%;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
   
} 

.tabl-cont .resp .coontainer {
  
   margin-top: 20px;
   width: 100%;

 } 
 



.tabl-cont .resp table thead th{
 font-size: 15px;
 font-weight: 500;
 width: 10%;
} 


.tabl-cont .resp table tbody tr{
 border-bottom: rgb(201, 178, 178) 1px solid;
  } 

.tabl-cont .resp table tbody td{
   font-size: 13px;
   font-weight: 500;
  } 
  

.tabl-cont .resp tbody  .btn-cont{
   width: 15%;

   }

.tabl-cont .resp tbody  td .dropdown a{
    background-color:#FDFAF3;
    
} 

.tabl-cont .resp tbody  td .dropdown a i{
   background-color:#E7E8ED ;
   color: black;
} 



 @media screen and (max-width:1410px){
 .tabl-cont{
   width: 100%;
   margin-left: 0;
}

.tabl-cont .resp {
   max-width: 100%;
   margin-left: 0;

  }

.tabl-cont .resp .coontainer {
   margin-left: 1.6vw;
   overflow-x: scroll;

  }
      

.tabl-cont .resp .coontainer table{
   width: 1000px;
}
    



.tabl-cont .resp table thead th{
font-size: 12px;
font-weight: 500;
width: 10%;
} 



.tabl-cont .resp table tbody td{
  font-size: 10px;
  font-weight: 500;
 }  
}
 





     
   



















.row1{
   width: 100%;
   
}
.invoice-container{
   margin-top: 50px;
   background-color: aliceblue;
   width: 60%;
   position: relative;
   left: 20%;
   margin-bottom: 200px;
   min-height: 550px;
}
.invoice-container .in-header{
   background-color: rgb(116, 162, 202);
   
}
.invoice-container .in-header .left{
   display: inline-block;
   margin-left: 20px;
   margin-top: 20px;
   
}

.invoice-container .in-header .right{
   margin-top: 10px;
   float:right;
   right: 20px;
   position: relative;
}

.invoice-container .in-header .right p{
   height: 5px;
}


.invoice-container .in-header .right .right1{
   display: inline-block;
   margin-right: 30px;
}
.invoice-container .in-header .right .right2{
   display: inline-block;
}


.invoice-container .mini-body .left .left1{
   float: left;
   margin-right: 70px;
   margin-left:20px;
}

.invoice-container .mini-body .left .left2{
   display: inline-block;
}

.invoice-container .mini-body .left{
   display: inline-block;
}
.invoice-container .mini-body .right{
   float: right;
   right: 20px;
   position: relative;
}

.invoice-container .mini-body p{
  height: 5px;
}

.invoice-container .mini-body h4{
   height: 20px;
   margin-bottom: 10px;
 }

 .max-body {
   margin-top: 50px;
 }
 .max-body .table-container{
   width:90%;
   left:4%;
   position: relative;
 }
.max-body .min-tab{
  border-top: 3px blue solid;
  width: 100%;
}

.max-body .min-tab  thead {
   padding-top: 0px;
   height: 50px;
 }

.max-body .min-tab  thead tr th{
   padding-left: 10px;
   padding-top: 0px;
 }

 .max-body .min-tab  tbody tr{
    border-bottom: 1px solid rgb(221, 217, 217);
 }
 
 .max-body .min-tab  tbody tr td{
   padding-left: 10px;
   padding-top: 0px;
 }
 .invoice-container .subtotal1{
     height: 150px;
  }

 .invoice-container .subtotal{
      margin-top: 50px;
      width: 40%;
      right: 20px;
      position: relative;
      float: right;
 }


 .invoice-container .subtotal p{
  height: 5px;
}



 .invoice-container .subtotal .left{
  display: inline-block;
 }

 .invoice-container .subtotal .right{
  float: right;
  
 }


 .buttonss {
   margin-top: 1.5vw;
   width: 40%;
   float: right;
}


 .buttonss .pdf, .email, .rp{
    display: inline;
 }

.card-body table {
   border-top: 2px solid black;
   width: 100%;
   margin-top: 1vw;
}
.card-body table thead{
  height: 40px;
}

 .card-body td{
    font-size: 10px;
 }
 .card-body tbody tr{
   border-bottom: 1px solid rgb(206, 194, 194);
}


.art-post{
   width: 90%;
   padding-top: 4vw;
   padding-left: 2vw;
   background-color: white;
   margin-bottom: 250px;
   margin-top: 10px;
   position:relative;
   left: 5%;
  
}


.art-post .sel{
   margin-bottom: 50px;

}



.art-post label, select, textarea{
  display: inline-block;
}

.art-post label{
  width: 10%;
 }

 .art-post select, textarea{
   width: 69%;
}
 
.art-post  textarea{
   height: 90px;
   border-radius: 0.87rem;
   padding-left: 10px;
   padding-top: 10px;
   position: absolute;
}
 
.art-post  .note{
  margin-top: 50px;
}


.art-post  .descr{
   margin-top: 20px;
}


.art-post .custom-file {
   display: block;
   left: 10%;
   width: 30%;
   position: relative;
   margin: 5px;
}

.art-post .custom-file label{
   width: 100%;
  
}

.art-post .custom-file input{
   width: 70%;
   left: 10%;
}
 
.art-post .text-blw{
  margin-top: 50px;
  margin-left: -10vw;
} 

.art-post .img-cont-outer{
   width: 30%;
   height: 300px;
   border: 1px solid rgb(151, 137, 137);
   left: 10%;
   position: relative;
}



  .art-post .img-cont-inner{
  width: 100%;
  display: inline-block;

  height: 280px;
 }
 
 .art-post .img-cont-inner img{
    width: 100%;
    height: 280px;
  }


  .designer-tab{
     left:10%;
     position: relative;
     width: 80%;
  } .designer-tab{
     left:10%;
     position: relative;
     width: 80%;
  }
  

  .art-content table thead th{
  text-align: left;
}



.art-content table tbody td {
   font-size: 15px;
   text-align: left;
 }
 

  .art-content .art-img-cont .art-image{
   width: 90%;
   left: 5%;
   position: relative;
 
}

  .art-content .art-image{
     width: 100%;
  }


table tbody .bills a{
    display: block;
    width: 100%;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgb(235, 126, 126);
    text-decoration: none;
    border-radius: 10px;
     
  }


  table tbody .bills a:hover{
   background-color: #F96332;
   color: black;
 }
 
  table tbody .bills .top{
  
    margin-bottom: 10px;
 }




.art-img-cont1{
   width: 30%;
}
   .resp1 .resp {
   padding-bottom: 100px;
   }


   .cont-empty{
      width: 100%;
      height: 900px;
   }

   .cont-empty p{
    text-align: center;
    font-size: 30px;
    position: relative;
    top:40%;
   
   }