.big-content .center{
   margin-left: 5vw;
}

.big-content .center .btn-order:hover{
    background-color:#FA7347 ;
 }
 

.small{
height: 70px;
background-color: #1D3C60;
}

.smaller{
   height: 100px;
   background-color: #1D3C60;
   }
   
.big-content .card{
   min-height: 300px;
}

.create{
   margin-top: 3vw;
   margin-left: 2vw;
}


.create .form-group label{
   display: inline-block;
   width: 20%;

}
.create .form-group input{
   display: inline-block;
   width: 50%;
   background-color: antiquewhite;
}

.create .form-group textarea{
   display: inline-block;
   width: 50%;
   background-color: antiquewhite;
   margin-left: 10vw;
}

.create .form-group .descr{
   position: absolute;
   margin-top: 26px;
   
   display: inline;
}

.create .text-center {

  float: center;
}

.create .img-cont-outer{
  min-height: 250px;
   border: 2px solid black;
   background-color:#FFFFFF ;
   width: 100%;

  
 }

 .create .img-cont-inner{
 width: 100%;
 display: inline-block;
}

.create .img-cont-inner img{
   
   width: 20%;
 }




 .tabl-cont{
    width: 90%;
    background-color: rgb(253, 250, 243);
    margin-left: 5vw;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
 }

 .tabl-cont .resp{
   max-width: 90%;
   background-color: rgb(253, 250, 243);
   margin-left: 4vw;
   margin-top: -30px;
   margin-bottom: 100px;
   border-radius: 0.1875rem;
   border: 0;
} 
.row1{
   width: 100%;
   
}
.invoice-container{
   margin-top: 50px;
   background-color: aliceblue;
   width: 60%;
   position: relative;
   left: 20%;
   margin-bottom: 200px;
   min-height: 550px;
}
.invoice-container .in-header{
   background-color: rgb(116, 162, 202);
   
}
.invoice-container .in-header .left{
   display: inline-block;
   margin-left: 20px;
   margin-top: 20px;
   
}

.invoice-container .in-header .right{
   margin-top: 10px;
   float:right;
   right: 20px;
   position: relative;
}

.invoice-container .in-header .right p{
   height: 5px;
}


.invoice-container .in-header .right .right1{
   display: inline-block;
   margin-right: 30px;
}
.invoice-container .in-header .right .right2{
   display: inline-block;
}


.invoice-container .mini-body .left .left1{
   float: left;
   margin-right: 70px;
   margin-left:20px;
}

.invoice-container .mini-body .left .left2{
   display: inline-block;
}

.invoice-container .mini-body .left{
   display: inline-block;
}
.invoice-container .mini-body .right{
   float: right;
   right: 20px;
   position: relative;
}

.invoice-container .mini-body p{
  height: 5px;
}

.invoice-container .mini-body h4{
   height: 20px;
   margin-bottom: 10px;
 }

 .max-body {
   margin-top: 50px;
 }
 .max-body .table-container{
   width:90%;
   left:4%;
   position: relative;
 }
.max-body .min-tab{
  border-top: 3px blue solid;
  width: 100%;
}

.max-body .min-tab  thead {
   padding-top: 0px;
   height: 50px;
 }

.max-body .min-tab  thead tr th{
   padding-left: 10px;
   padding-top: 0px;
 }

 .max-body .min-tab  tbody tr{
    border-bottom: 1px solid rgb(221, 217, 217);
 }
 
 .max-body .min-tab  tbody tr td{
   padding-left: 10px;
   padding-top: 0px;
 }
 .invoice-container .subtotal1{
     height: 150px;
  }

 .invoice-container .subtotal{
      margin-top: 50px;
      width: 40%;
      right: 20px;
      position: relative;
      float: right;
 }


 .invoice-container .subtotal p{
  height: 5px;
}



 .invoice-container .subtotal .left{
  display: inline-block;
 }

 .invoice-container .subtotal .right{
  float: right;
  
 }


 .buttonss {
   margin-top: 1.5vw;
   width: 40%;
   float: right;
}


 .buttonss .pdf, .email, .rp{
    display: inline;
 }

.card-body table {
   border-top: 2px solid black;
   width: 100%;
   margin-top: 1vw;
}
.card-body table thead{
  height: 40px;
}

 .card-body td{
    font-size: 10px;
 }
 .card-body tbody tr{
   border-bottom: 1px solid rgb(206, 194, 194);
}


.art-post{
   width: 90%;
   padding-top: 4vw;
   padding-left: 2vw;
   background-color: white;
   margin-bottom: 250px;
   margin-top: 10px;
   position:relative;
   left: 5%;
  
}


.art-post .sel{
   margin-bottom: 50px;

}



.art-post label, select, textarea{
  display: inline-block;
}

.art-post label{
  width: 10%;
 }

 .art-post select, textarea{
   width: 69%;
}
 
.art-post  textarea{
   height: 90px;
   border-radius: 0.87rem;
   padding-left: 10px;
   padding-top: 10px;
   position: absolute;
}
 
.art-post  .note{
  margin-top: 50px;
}


.art-post  .descr{
   margin-top: 20px;
}
.art-post .img-cont-outer{
   width: 70%;
   height: 250px;
   border: 1px solid rgb(151, 137, 137);
   left: 10%;
   position: relative;
}

.art-post .custom-file {
   display: block;
   left: 10%;
   width: 70%;
   position: relative;
   margin: 5px;
}

.art-post .custom-file label{
   width: 100%;
  
}

.art-post .custom-file input{
   width: 70%;
   left: 10%;
}
 
.art-post .text-blw{
  margin-top: 50px;
  margin-left: -10vw;
} 

.create .img-cont-outer{
   min-height: 250px;
    border: 2px solid black;
    background-color:#FFFFFF ;
    width: 100%;
 
   
  }
 
  .art-post .img-cont-inner{
  width: 100%;
  display: inline-block;
 }
 
 .art-post .img-cont-inner img{
    
    width: 20%;
  }